LogisticaERP/Service References/LogisticaSOA/LogisticaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="OperacionFlotaWCFAPP.EntidadesContratos" elementFormDefault="qualified" targetNamespace="OperacionFlotaWCFAPP.EntidadesContratos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CRespuestaGeneral">
    <xs:sequence>
      <xs:element minOccurs="0" name="b_Respuesta" type="xs:boolean" />
      <xs:element minOccurs="0" name="i_Respuesta" type="xs:decimal" />
      <xs:element minOccurs="0" name="s_Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CRespuestaGeneral" nillable="true" type="tns:CRespuestaGeneral" />
</xs:schema>