LogisticaERP/Service References/GrupoPinsaSOA/GrupoPinsaService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="UtileriasServiciosWCF.ContratosDatosDLL" elementFormDefault="qualified" targetNamespace="UtileriasServiciosWCF.ContratosDatosDLL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExcepcionesServicioDLL">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsCritico" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExcDetalle" nillable="true" type="tns:ExcepcionesDetalleDLL" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExcepcionesServicioDLL" nillable="true" type="tns:ExcepcionesServicioDLL" />
  <xs:complexType name="ExcepcionesDetalleDLL">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaExc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrigenExc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoExc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExcepcionesDetalleDLL" nillable="true" type="tns:ExcepcionesDetalleDLL" />
</xs:schema>